# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
*.cover
.hypothesis/
.tox/
.nox/
pip-wheel-metadata/
site/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# VSCode
.vscode/

# Logs
logs/
*.log

# Node
node_modules/

# Local
*.local

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
Icon?

# Others
.lightly/
.c_bin/
.classes/
dist-ssr/
